.tile {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    border: 0;
}

.wall {
    background-color: black;
    display: block;
    width: 58.5px;
    height: 69px;
    margin: auto;
}

.empty {
    background-color: beige;
    display: block;
    width: 58.5px;
    height: 69px;
    margin: auto;
}

.playable {
    cursor: pointer;
}

.movable {
    background-color: rgb(48, 48, 43);
}

.jumpable {
    background-color: grey;
}
